<h2>BookWizard</h2>

<div class='books-container'>
  <%= @books.each do |book| %>
    <%= link_to book.title, book_path(book) %>
    <p>
      <%= book.author %>
    </p>
  <% end %>
</div>


<div>
  <% if session[:user_id] != nil %>
    <%= link_to 'Log Out', logout_path %>
  <% else %>
    <%= link_to 'Log In', login_path  %>
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>

</div>
